* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Inter;
    color: white;
    background-color: rgb(47, 47, 47);
}

.container {
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);

    width: 50%;

    border-radius: 10px;
}

.info-bottom {
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-img {
    width: 100%;
}

.info h1 {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.info h2 {
    font-size: 12px;
    font-weight: 400;
    color:rgb(148, 148, 148);
}

.info-website {
    margin-top: 10px;
    text-decoration: none;
    color:rgb(148, 148, 148);
    transition: 0.5s;
}

.info-website:hover {
    color:rgb(100, 100, 100);
}

.info-buttons {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.info-buttons span {
    margin-left: 3px;
}

.info-buttons .info-email{
    padding: 10px 25px 10px 25px;
    border-radius: 7px;
    display: block;
    background-color: white;
    color:black;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition:0.7s;
}

.info-buttons .info-email:hover {
    background-color: rgb(200, 200, 200);
}

.info-buttons .info-linkedin {
    padding: 10px 25px 10px 25px;
    border-radius: 7px;
    display: block;
    background-color: rgb(121, 121, 185);
    color:white;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition:0.7s;
}

.info-buttons .info-linkedin:hover {
    background-color: rgb(92, 92, 143);
}
